@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap');

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";


@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";
@import "base/base"; 
  
@import "components/button";
@import "components/composition";
@import "components/feature-box";
@import "components/card";
@import "components/story";
@import "components/bg-video";
@import "components/form";

@import "layout/header";
@import "layout/grid";

@import "pages/home";
 






