.navigation {
    &__checkbox {

        display: none;
    }
    &__button {
        background-color: $color-white;
        height:7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 12;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

    }
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($light-green, $dark-green);
        z-index: 10;
        transition: transform .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        // transform: scale(50);

    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 11;
        visibility: hidden;
        transition: all .01s;
        // opacity: 0;
        // width: 0;

  }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style-type: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;


    }
    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 3%;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all .2s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
            
        }
        &:hover,
        &:active {
            transform: translateX(1rem);
            background-position: 100%;
            color: $mid-green;
            
        }
    }

    //Navigation button Functionality
    &__checkbox:checked ~ &__background {
        transform: scale(80);
        // visibility: visible;
    }
    &__checkbox:checked ~ &__nav {
        
        visibility: visible;
    }
    //ICON 

    &__icon {

        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-1;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before {top: -.8rem;}
        &::after {top: .8rem;}
    }
    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;

    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);

    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);

    }


}