body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey;
    padding: 1rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    /* ! Hack to stop animation from jumping inside */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 35px;
        animation: moveInLeft 1s ease-in;
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.8rem;
        animation: moveInRight 1s ease-in;
    }
 
}
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $light-green, $dark-green);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: .2s transform;
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    
    &:hover {
        transform: skew(2deg, 5deg) scale(1.1);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;

}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}